<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="styleForBurger768px.css">
    <link rel="stylesheet" href="styleForBurger380px.css">
    <title>Document</title>
</head>

<body>
    <div class="burger768px">
        <header class="header flexSbCenter">
            <div class="logoHeader">
            </div>
            <div class="btnCloseBurger flexCeCenter">
                <div>
                </div>
            </div>
        </header>
        <div class="navContainer">
            <div>
                Favorite coffee
            </div>
            <div>
                About
            </div>
            <div>
                Mobile app
            </div>
            <div>
                Contact us
            </div>
        </div>
        <div class="menuContainer flexCeCenter">
            Menu
            <div class="cofeMenuImageForBurger">
            </div>
        </div>
    </div>
</body>

</html>