<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="style.ForModalWindow.css">
    <link rel="stylesheet" href="style.ForModalWindowSize768.css">
    <link rel="stylesheet" href="style.ForModalWindowSize380.css">
    <title>Document</title>
</head>

<body>
    <div class="modalWindow flexSbCenter">
        <div class="leftPanelInModalWindow flexCenterStart">
            <div class="imageForMenu imageCoffee1">
            </div>
        </div>
        <div class="rightPanelInModalWindow">
            <h2 class="titleCoffeeInMenu">
                Irish coffee
            </h2>
            <div class="descriptionCoffeeInMenu">
                Fragrant black coffee with Jameson Irish whiskey and whipped milk
            </div>
            <div class="miniTitle">
                Size
            </div>
            <div class="containerForDrinkSize flexSbCenter">
                <div class="btnElem flexSbCenter">
                    <div class="logoBtnElem flexCeCenter">
                        S
                    </div>
                    200 ml
                </div>
                <div class="btnElem flexSbCenter btnActiveState">
                    <div class="logoBtnElem flexCeCenter">
                        M
                    </div>
                    300 ml
                </div>
                <div class="btnElem elem3 flexSbCenter">
                    <div class="logoBtnElem flexCeCenter">
                        L
                    </div>
                    400 ml
                </div>
            </div>
            <div class="miniTitle">
                Additives
            </div>
            <div class="containerForAdditives flexSbCenter">
                <div class="btnElem flexSbCenter">
                    <div class="logoBtnElem flexCeCenter">
                        1
                    </div>
                    Sugar
                </div>
                <div class="btnElem flexSbCenter">
                    <div class="logoBtnElem flexCeCenter">
                        2
                    </div>
                    Cinnamon
                </div>
                <div class="btnElem elem3 flexSbCenter">
                    <div class="logoBtnElem flexCeCenter">
                        3
                    </div>
                    Syrup
                </div>
            </div>
            <div class="containerForTotal flexSbCenter">
                <div class="titleTotal">
                    Total:
                </div>
                <div class="priceTotal">
                    $7.00
                </div>
            </div>
            <div class="containerForNote flexSbStart">
                <div class="iconInfo">
                </div>
                <div class="textBlock">
                    The cost is not final. Download our mobile app to see the final price and place your order. Earn
                    loyalty points and enjoy your favorite coffee with up to 20% discount.
                </div>
            </div>
            <div class="bntClose flexCeCenter">
                <div class="titleCloseBtn">
                    Close
                </div>
            </div>
        </div>
    </div>
</body>

</html>